<div class="d-flex justify-content-center vw-90 mx-auto" *ngIf="bio$ | async as bio">
  <div *ngFor="let options of respOptions" [ngClass]="options.viewClasses"
    class="flex-column align-items-center text-center w-75">
    <h1 [ngClass]="options.headingClass" class="mb-5">
      <span class="fw-bold">About</span> Me
    </h1>
    <div class="d-flex justify-content-center align-items-center">
      <img src="image/me/me.jpg" alt="" srcset="" class="me-4" />
      <!-- <div *ngFor="let par of bio.about"> -->
      <!-- <h4 *ngIf="!options.useSmallerHeadings" class="mb-4">{{ par }}</h4> -->
      <!-- <h5 *ngIf="options.useSmallerHeadings" class="mb-4">{{ par }}</h5> -->
      <div>

        <h4 class="mb-4">
          I am a graduate of <a href="https://www.mines-stetienne.fr/">École des Mines de Saint-Étienne, France</a>. <a
            href="https://theses.fr/2024EMSEM015">My thesis</a> was entitled: <b>Semantic Content Negotiation: A
            Fine-grained and Relaxed Approach Using Semantic Web
            Technologies</b>. As the title suggests, my doctoral studies enabled me to gain expertise in various
          <b>Semantic Web Technologies</b>, including <a href="https://kgbook.org/">Knowledge
            Graphs</a>, <a href="https://www.w3.org/RDF/">RDF</a>, <a
            href="https://www.w3.org/2001/sw/wiki/SPARQL">SPARQL</a>, and <a
            href="https://www.w3.org/2001/sw/wiki/SHACL">SHACL</a>.
        </h4>
        <h4>
          My current research is focused on combining LLMs with Knowledge Graphs within the <a
            href="https://www.metabolinkai.net/"> MetaboLinkAI</a> project.
          Our objective is to <em>combine cutting-edge artificial intelligence with comprehensive knowledge graphs
            to accelerate discoveries in biomedical and environmental sciences.</em>.
        </h4>
      </div>
    </div>
  </div>
</div>